# This file is used for Microsoft 365 Agents Playground.
# The Microsoft 365 Agents Toolkit will automatically update this file with information of created resources.
TEAMSFX_ENV=playground
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=2024-12-01-preview

# Agent Configuration
M365_AGENT_FEEDBACK_LOOP=true
M365_AGENT_AI_LABEL=true
M365_AGENT_SENSITIVITY_NAME=Internal
M365_AGENT_SENSITIVITY_TYPE=https://schema.org/Message
M365_AGENT_SENSITIVITY_SCHEMA_TYPE=CreativeWork
M365_AGENT_MAX_HISTORY_TURNS=20

